@import '../../variables.scss';

h1, h2, h3, h4, h5, h6, text, p, button, input, .input-title {
  font-family: Lato, serif;
}

.btn {
  size: 300px;
  margin: 0.5rem;
  padding: 15px;
  alignment: right;
  border: 2px solid $green;
}

.btn__preview {
  background-color: white;
  color: $green;
}

.btn__save {
  background-color: $green;
  color: white;
}

.input-block {
  min-height: 5rem;
  min-width: 15rem;
  margin: 0.5rem;
  float: right;
  text-align: left;
  /*background-color: green;*/
}

.input-title {
  caption-side: top;
}

.input-field {
  /*padding: 12px 20px;*/
  padding: 0.6rem 1rem;
  border: 1px solid $grey;
  border-bottom: 2px solid $green;
}

.input-field--large {
  width: 20rem;
}

.flex-container {
  /*grid-area: auto;*/
  display: flex;
  flex-wrap: wrap;
  flex-grow: initial;
  justify-content: flex-start;
}

.students {
  color: orange;
}
