@import '../../variables.scss';

h1, h2, h3, h4, h5, h6, text, p, button, input, .input-title {
  font-family: Lato, serif;
}

.btn {
  size: 300px;
  margin: 0.5rem;
  padding: 15px;
  alignment: right;
  border: 2px solid $green;
}

.btn__preview {
  background-color: white;
  color: $green;
}

.btn__save {
  background-color: $green;
  color: white;
}

.input-block {
  min-height: 3rem;
  min-width: 10rem;
  margin: 0.5rem;
  float: right;
  text-align: left;
  /*background-color: green;*/
  align-self: flex-start;
  column-span: 2;
  row-span: 1;
}

.input-title {
  caption-side: top;
}

.input-field {
  /*padding: 12px 20px;*/
  padding: 0.6rem 1rem;
  border: 1px solid $grey;
  border-bottom: 2px solid $green;
  width: 8rem;
}

.input-field--wide {
  width: 16rem;
  column-span: 4;
}

.input-block--high {
  row-span: 5;
}

.flex-container {
  display: grid; //flex
  flex-wrap: wrap;
  flex-grow: initial;
  justify-content: flex-start;
  flex-direction: row;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, 20rem);
  grid-auto-rows: 5rem;

}

.students {
  color: orange;
}
