<h1>Aufgabe bearbeiten</h1>

<hr>

<div class="grid-container">

<div class="input-block">
  <div class="input-title">Titel*</div>
  <input class="input-field input-field--wide" [(ngModel)]="task.name" placeholder={{task.name}}/>
</div>

<div class="input-block">
  <div class="input-title">Start</div>
  <input class=input-field type=date [(ngModel)]="task.start" placeholder={{task.start}}/>
</div>

<div class="input-block">
  <div class="input-title">Ende</div>
  <input class=input-field type=date [(ngModel)]="task.end" placeholder={{task.end}}/>
</div>

<div class="input-block description">
  <div class="input-title">Beschreibung*</div>
  <textarea id="input" name="description" class="input-field input-field--wide description-field" [(ngModel)]="task.description">{{task.description}}</textarea>
  <button (click)="showKatex()">Formel eingeben</button>
  <br>
</div>

<div class="input-block">
  <div class="input-title">Geschätzter Zeitaufwand</div>
  <input class=input-field [(ngModel)]="task.estimated_effort" placeholder={{task.estimated_effort}}/>
</div>

<div class="input-block">
  <div class="input-title">Vorherige Aufgabe auswählen</div>
  <form>
    <select name="previoustask" class="input-field select">
      <option value="1">letze Woche</option>
      <option value="2">vorletzterWoche</option>
    </select>
  </form>
</div>


<div class="input-block">
  <div class="input-title">Arbeitsmaterialien hochladen</div>
  <input type="file" id="materials"/>
</div>

<div class="input-block">
  <div class="input-title">Musterlösung hochladen</div>
<input type="file" id="modelSolution"/>
</div>

</div>

<hr>

<div class="grid-container">
<div class="input-block">
  <div class="input-title">Aufgabe zuweisen</div>
  <input class="input-field" [(ngModel)]="task.allocate">
</div>

<div class="input-block">
  <div class="input-title">Schüler:</div>
  <div class="students">{{task.allocate}}</div>
</div>

<div class="flex-container">
  <div class="input-title">Auswahl Übung oder Vorlesung:</div>
    <button (click)="toggleUebung()" > {{ buttonheader }} > </button>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="backlog">
      <label>Backlog</label>
    </mat-checkbox>
  </div>
</div>

<div *ngIf="preview">
    <button (click)="deactivatePreview()" class="btn btn__preview">Vorschau beenden</button>
    <button (click)="save()" class="btn btn__save">Speichern</button>
    <app-task [task]="task">loading</app-task>
</div>
<div *ngIf="!preview">
  <button (click)="activatePreview()" class="btn btn__preview">Vorschau</button>
  <button (click)="save()" class="btn btn__save">Speichern</button>
</div>

<div *ngIf="showKatexInput">
  <app-katex-input [taskToPaste]="task" [inputToPaste]="input"></app-katex-input>
</div>


