:root {
  --green: #3BAC87;
  --gray: #D2D2D2;
}

h1, h2, h3, h4, h5, h6, text, p, button, input, .input-title {
  font-family: Lato, serif;
}

.btn {
  size: 300px;
  margin: 0.5rem;
  padding: 15px;
  alignment: right;
  border: 2px solid #3BAC87;
}

.btn__preview {
  background-color: white;
  color: #3BAC87;
}

.btn__save {
  background-color: #3BAC87;
  color: white;
}

.input-block {
  min-height: 5rem;
  min-width: 15rem;
  margin: 0.5rem;
  float: right;
  text-align: left;
  /*background-color: green;*/
}

.input-title {
  caption-side: top;
}

.input-field {
  /*padding: 12px 20px;*/
  padding: 0.6rem 1rem;
  border: 1px solid #D2D2D2;
  border-bottom: 2px solid #3BAC87;
}

.input-field--large {
  width: 20rem;
}

.flex-container {
  /*grid-area: auto;*/
  display: flex;
  flex-wrap: wrap;
  flex-grow: initial;
}

.students {
  color: orange;
}
