<table style="width:100%">
    <tr>
        <td style="width:30%">Titel*</td>
        <td style="width:30%">Start</td>
        <td style="width:30%">Ende</td>
    </tr>
    <tr>
        <td><div>
                <input  size = 80% [(ngModel)]="task.name" placeholder={{task.name}}/>
        </div></td>
        <td><div>
            <input size = 80% type='date' [(ngModel)]="task.start" placeholder={{task.start}}/>
        </div></td>
        <td><div>
            <input size = 80% type=date [(ngModel)]="task.end" placeholder={{task.end}}/>
        </div></td>
    </tr>
    <br>
    <tr>
        <td>Beschreibung*</td>
        <td>Geschätzter Zeitaufwand</td>
        <td>Vorherige Aufgabe auswählen</td>
    </tr>

    <tr>
        <td rowspan="2"><div>
            <input  size = 80% style="height=300px" [(ngModel)]="task.description" placeholder={{task.description}}/>
        </div></td>
        <td><div>
            <input size = 80% [(ngModel)]="task.estimated_effort" placeholder={{task.estimated_effort}}/>
        </div></td>
        <td><div>
          <form>
            <select name="previoustask">
              <option value="1">Aufgabe von letzer Woche</option>
              <option value="2">Aufgabe von vorletzter Woche</option>
            </select>
          </form>
        </div></td>
    </tr>

    <br>
    <tr>
      <td></td>
      <td>Arbeitsmaterialien hochladen</td>
      <td>Musterlösung hochladen</td>
    </tr>

    <tr>
      <td rowspan="2"><div>

      </div></td>
      <td><div>
        <input type="file" size = 80% [(ngModel)]="task.materials"/>
      </div></td>
      <td><div>
        <input type="file" size = 80% [(ngModel)]="task.model_solution"/>
      </div></td>
    </tr>

  <br>
  <tr>
    <td>Aufgabe zuweisen</td>
    <td>Schüle:r</td>
  </tr>

  <tr>
    <td rowspan="2"><div>
      <input  size = 80% style="height=300px">
    </div></td>
    <td><div>
      <div>{{task.allocate}}</div>
    </div></td>
  </tr>

</table>

<button>Vorschau</button>
<button>Speichern</button>

