<mat-toolbar style="background:rgba(36,219,198);">
    Aufgabenliste
</mat-toolbar>
<mat-grid-list cols="3" rowHeight="2:1" style="padding:20px 0px;">
    <mat-grid-tile [colspan]="1">
        <app-tasks title="Aufgabe1" subtitle="Das hier ist Aufgabe Nummer 1" content="sadd ddd ddd dddd ddd d dddd ddddddd dddddddd dddasdf adfg sssss sss sssss ssss">loading</app-tasks>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <app-tasks>loading</app-tasks>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <app-tasks>loading</app-tasks>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <app-tasks>loading</app-tasks>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <app-tasks>loading</app-tasks>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <app-tasks>loading</app-tasks>
    </mat-grid-tile>
</mat-grid-list>
