<div>
    <label>Formel:
        <div class="container">
            <input id="eqIn" [(ngModel)]="eqinput" placeholder="" size="80%" color="red" #eqIn/>
        </div>
    </label>

    <button (click)="pasteFormula()">Formel in Beschreibung einfügen</button>
    <button (click)="clearField()">Formel löschen</button>

    <br><br>

    <div (mouseenter)="mouseHovering()" (mouseleave)="mouseLeft()">
        <table class="equation">
            <td>
                <ng-katex #eq [equation]="eqinput"></ng-katex>
            </td>
            <td>
                <div class="hoverBtn" *ngIf="isHovering">
                    <button #copyBtn (click)="copyInput(eqIn)">Copy</button>
                    <button #solveBtn (click)='openLink()'>Solve</button>
                </div>
            </td>
        </table>
    </div>

    <br>

    <!--
    To add a new button copy and paste one down below
    1. change the id (#id) to #newid and the (click) option to "equationBtn(newid)"
    2. change the name to the equation that should be pasted when the button gets clicked
    2.1 the curser will be set to the second last position of the equation
        or to the offset if given with name="equation#curseroffset"
    3. add a new entry for the button text to buttonlabel.ts, like newLbl = '\\nameFromStep2'
    4. change the katex [equation] option to buttonLbls.newLbl
    -->
    <div class="grid-container">
        <button #sqrtBtn name="\sqrt{}#6" (click)="equationBtn(sqrtBtn)"><ng-katex [equation]='buttonLbls.sqrtLbl'></ng-katex></button>
        <button #usBtn name="_{y}" (click)="equationBtn(usBtn)"><ng-katex [equation]='buttonLbls.underscoreLbl'></ng-katex></button>
        <button #intBtn name="\int_a^b f() dx#11" (click)="equationBtn(intBtn)"><ng-katex [equation]='buttonLbls.intLbl'></ng-katex></button>
        <button #pmBtn name="\pm#3" (click)="equationBtn(pmBtn)"><ng-katex [equation]='buttonLbls.pmLbl'></ng-katex></button>
        <button #fracBtn name="\frac{}{y}#6" (click)="equationBtn(fracBtn)"><ng-katex [equation]='buttonLbls.fracLbl'></ng-katex></button>
    </div>

</div>