$md-green: (
  50 : #e7f5f1,
  100 : #c4e6db,
  200 : #9dd6c3,
  300 : #76c5ab,
  400 : #58b899,
  500 : #3bac87,
  600 : #35a57f,
  700 : #2d9b74,
  800 : #26926a,
  900 : #198257,
  A100 : #baffe1,
  A200 : #87ffcb,
  A400 : #54ffb4,
  A700 : #3bffa9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-darkblue: (
  50 : #e8eaed,
  100 : #c5cad3,
  200 : #9fa7b5,
  300 : #798497,
  400 : #5c6981,
  500 : #3f4f6b,
  600 : #394863,
  700 : #313f58,
  800 : #29364e,
  900 : #1b263c,
  A100 : #7fa6ff,
  A200 : #4c83ff,
  A400 : #1960ff,
  A700 : #004ffe,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
