/* You can add global styles to this file, and also import other style files */

@import '~material-design-icons/iconfont/material-icons.css';
@import 'custom-theme.scss';
@import './variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You can add global styles to this file, and also import other style files */
@import '~katex/dist/katex.css';

.menu-spacer{
    flex: 1 1 auto;
}

.toolbar{
    background: mat-color($frontendTeacher-primary, 500) !important;
    color: mat-contrast($frontendTeacher-primary, 500) !important;
}

.color--grey{
    background:$grey !important;
}

.sidenav{
    background: mat-color($frontendTeacher-primary, 500) !important;
    color: mat-contrast($frontendTeacher-primary, 500) !important;
}

.sidenav--text:hover{
    background: mat-color($frontendTeacher-accent, 500) !important;
}

.sidenav--text:target{
    background: $grey !important;
}

.sidenav--text{
    color: mat-contrast($frontendTeacher-primary, 500) !important;
}

.sidenav--icon{
    color: mat-contrast($frontendTeacher-primary, 500) !important;
}
